* {
    padding: 0;
    margin: 0;
}

body {
    background-color: dimgrey;
}

.container {
    margin: 10% 0 0 35%;
}

h1 {
    color: white;
    margin-left: 85px;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 7px;
    margin-top: 5px;

}

input::placeholder {
padding-left: 10px;
}

#gm {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 60px;
    vertical-align: middle;
    margin-top: 10px;
    border-radius: 4px;
    line-height: 2.75;
    padding-left: 5px;
}

#kg {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    border-radius: 4px;
    line-height: 2.75;
    padding-left: 5px;

}

#oz {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 5px;
    line-height: 2.75;

}